/* Write your styles */

/* banner开始 */

.am-slider {
	margin-top: 4.25rem!important;
}

.am-control-paging {
	bottom: 5px!important;
}

.am-active {
	background: #fff!important;
}

.am-slider-default {
	margin: 0;
}


/* banner结束 */


/* 快报分类开始  */

.classify-t {
	background: #fff;
	padding: 0.5rem 0;
	border-bottom: 1px #D9D9D9 solid;
}

.classify-t .classify-t-l {
	font-family: "宋体";
}

.classify-t .classify-t-r {
	border-left: 1px solid #d9d9d9;
	font-size: 1rem;
	margin: 0.1rem 0;
}

.classify-t .classify-t-r ul {
	height: 1.5rem;
	overflow: hidden;
	margin: 0.6rem 0 0.3rem;
	padding: 0;
}

..classify-t .classify-t-r ul li {
	list-style: none;
}

.classify-b {
	margin: 0;
}

.classify-b li {
	margin: auto 0;
	padding: 1rem 0;
	border: 0;
	text-align: center;
}

.classify-b li dl {
	margin: 0;
}

.classify-b li a {
	display: block;
	color: #9a9a9a;
	font-size: 1.2rem;
}

.classify-b li dl dt img {
	width: 2.5rem;
}


/* 快报分类结束  */


/* 品牌直供开始 */

.direct {
	background: #fff;
	margin-top: 1rem;
}

.direct h2 {
	text-align: center;
	width: 100%;
	padding: 1.2rem 0;
	font-size: 1.6rem;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0;
}

.direct-c {
	position: relative;
	width: 100%;
	height: 20rem;
	overflow: hidden;
}

.direct-c li img {
	width: 100%;
	height: 100%;
}

.direct-c .direct-c-l {
	width: 50%;
	height: 50%;
	position: absolute;
	left: 0;
	top: 0;
}

.direct-c a {
	display: block;
	position: relative;
	color: #585858;
}

.direct-c li .direct-c-text {
	position: absolute;
	top: 1rem;
	left: 1rem;
}

.direct-c li h2 {
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
}

.direct-c li p {
	margin: 0;
	padding: 0;
	font-size: 1.3rem;
}

.direct-c .direct-c-lb {
	width: 50%;
	height: 50%;
	position: absolute;
	left: 0;
	top: 50%;
}

.direct-c .direct-c-r {
	width: 50%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}


/* 品牌直供结束 */


/* 新品首发开始 */

.product {
	margin-top: 1rem;
	background: #fff;
}

.product h2 {
	text-align: center;
	width: 100%;
	padding: 1.2rem 0;
	font-size: 1.6rem;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0;
}

.product-b ul {
	padding: 0;
}

.product-b ul li {
	float: left;
	width: 50%;
	text-align: center;
	padding-left: 1rem;
	padding-right: 1rem;
}

.product-b ul li img {
	width: 100%;
	height: 100%;
}

.product-b ul li a {
	display: block;
}

.product-b ul li .product-name {
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0 auto;
	color: #333;
	font-size: 1.3rem;
}

.product-b ul li .product-price {
	color: #b4282d;
	font-size: 1.2rem;
}


/* 新品首发结束 */


/* 人气推荐开始 */

.popular {
	margin-top: 1rem;
	background: #fff;
}

.popular h2 {
	text-align: center;
	width: 100%;
	padding: 1.2rem 0;
	font-size: 1.6rem;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0;
}

.popular-top ul {
	padding: 0 1rem;
	margin: 0;
}

.popular-top ul li {
	width: 100%;
	border-top: 1px solid #d9d9d9;
}

.popular-top ul li a {
	display: inline-block;
}

.popular-top ul li a img {
	width: 100%;
	height: 100%;
}

.popular-top .popular-img {
	width: 40%;
}

.popular-top .popular-text {
	width: 60%;
}

.popular-top .popular-text {
	float: left;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	display: -webkit-flex;
	height: 140px;
}

.popular-top .popular-text span {
	color: #b4282d;
}

.popular-top .popular-text h3 {
	font-size: 1.5rem;
}

.popular-top .popular-text p {
	font-size: 1.2rem;
}


/* 人气推荐结束 */


/* 限时购开始 */

.time {
	margin-top: 1rem;
	background: #fff;
}

.time-t {
	padding: 0 2rem;
	width: 100%;
}

.time-t .time-t-l {
	width: 50%;
	padding-top: 3rem;
}

.time-t .time-t-l .time-t-lt {
	font-size: 2rem;
}

.time-t .time-t-l .time-t-b {
	margin-left: 1rem;
	margin-top: 1rem;
}

.time-t .time-t-l .time-t-b ul {
	padding: 0;
	width: 100%;
}

.time-t .time-t-l .time-t-b ul li {
	float: left;
	text-align: center;
	font-size: 1.5rem;
}

.time-t .time-t-l .time-t-b ul .i {
	padding-left: 0.7rem;
}

.time-t .time-t-l ul .hour {
	width: 2rem;
	height: 2rem;
	background: #000000;
	color: #fff;
}

.time-t .time-t-d {
	margin-top: 0.5rem;
	font-size: 1rem;
}

.time-t .time-t-r {
	width: 50%;
	margin-top: 1rem;
	position: relative;
}

.time-t .time-t-r img {
	width: 100%;
}

.time-t .time-t-r .m-jg {
	position: absolute;
	bottom: 5rem;
	right: 5rem;
	width: 3rem;
	height: 3rem;
	border-radius: 1.5rem;
	background: #F49422;
	line-height: 3rem;
	text-align: center;
	color: #fff;
}


/* 限时购结束 */


/* 专题精选开始 */

.choice {
	margin-top: 1rem;
	background: #fff;
}

.choice h2 {
	text-align: center;
	width: 100%;
	padding: 1.2rem 0;
	font-size: 1.6rem;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0;
}

.choice .am-control-paging,
.choice .am-direction-nav {
	display: none;
}

.choice .am-slides-text {
	padding-left: 3rem;
	margin: 1rem 0;
}

.choice .am-slides-text h2 {
	text-align: left;
	padding: 0;
	font-size: 1.6rem;
}

.choice .am-slides-text h2 span {
	color: #b4282d;
}

.choice .am-slides-text h3 {
	text-align: left;
	padding: 0;
	color: #ababab;
	font-size: 1rem;
}


/* 专题精选结束 */


/* 居家好物开始 */

.things {
	margin-top: 1rem;
	background: #fff;
}

.things h2 {
	text-align: center;
	width: 100%;
	padding: 1.2rem 0;
	font-size: 1.6rem;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0;
}

.things .product-b ul {
	padding: 0;
}

.things .product-b ul li {
	float: left;
	width: 50%;
	text-align: center;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	padding-bottom: 2rem;
}

.things .product-b ul li img {
	width: 100%;
	height: 100%;
}

.things .product-b ul li a {
	display: block;
}

.things .product-b ul li .product-name {
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0 auto;
	color: #333;
	font-size: 1.3rem;
}

.things .product-b ul li .product-price {
	color: #b4282d;
	font-size: 1.2rem;
}

.things .product-b ul li .gd-t {
	margin-top: 4rem;
}

.things .product-b ul li .gd {
	width: 6rem;
	height: 6rem;
	display: block;
	margin-top: 2rem;
}


/* 居家好物结束 */
.am-direction-nav{
	display: none;
}
