html,
body {
	background: #F4F4F4;
	min-width: 300px;
	max-width: 540px;
	margin: 0 auto;
	font-family: "宋体";
}

.sprite {
	background-image: url(../img/sprite.png);
	background-size: 21rem 21rem;
	background-repeat: no-repeat;
}

li {
	list-style: none;
}

a {
	color: #585858;
}
a:hover{
	color: #727272;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
dl,
dt,
dd{
	margin: 0;
	padding: 0;
}

.m-t {
	overflow: hidden;
}


/* 商城头部开始 */

.header-top {
	height: 4.25rem;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}

.menu {
	padding: 1rem 0.8rem;
	background: #FAFAFA;
	position: relative;
	border-bottom: 1px solid #D9D9D9;
	z-index: 9999;
}

.menu-l {
	width: 2.2rem;
	height: 2.2rem;
	vertical-align: middle;
	display: inline-block;
	background: url(../img/sprite_05.png) no-repeat;
	background-size: 100% 100%;
	align-items: center;
}

.menu h2 {
	width: 40%;
	position: absolute;
	top: 11px;
	left: 27.5%;
	margin: auto;
	text-align: center;
	font-size: 1.69rem;
	z-index: 99;
}

.menu-r {
	width: 2.2rem;
	height: 2.2rem;
	vertical-align: middle;
	display: inline-block;
	background: url(../img/sprite_15.png) no-repeat;
	background-size: 100% 100%;
	align-items: center;
	margin-left: auto;
	margin-right: 1rem;
}

.menu-rl {
	width: 2rem;
	height: 2rem;
	vertical-align: middle;
	display: inline-block;
	background-position: 0 0;
	align-items: center;
	margin-left: auto;
	margin-right: 0.5rem;
}

.menu .active {
	background: url(../img/sprite_09.png) no-repeat;
	background-size: 100% 100%;
}

.header-top .classify {
	text-align: center;
	background: #FAFAFA;
	position: absolute;
	top: 4.14rem;
	left: 0;
	z-index: 1;
}

.header-top .classify div {
	padding: 1rem 0;
}

.header-top .menu-s {
	width: 2.5rem;
	height: 2.5rem;
	display: block;
	background: url(../img/sprite_05.png) no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
}

.header-top .menu-z {
	width: 2.5rem;
	height: 2.5rem;
	display: block;
	background: url(../img/sprite_17.png) no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
}

.header-top .menu-f {
	width: 2.5rem;
	height: 2.5rem;
	display: block;
	background: url(../img/sprite_03.png) no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
}

.header-top .menu-g {
	width: 2.5rem;
	height: 2.5rem;
	display: block;
	background: url(../img/sprite_13.png) no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
}

.classifl-o {
	display: none;
}


/* 商城头部结束 */


/* 尾页 */

.footer {
	padding: 2rem 0;
	background: #fff;
	text-align: center;
	border-top: 1rem solid #F4F4F4;
	color: #656565;
}

.footer h2 {
	font-size: 1.4rem;
}

.footer h3 {
	font-size: 1.1rem;
}


/* 回到顶部 */

.db {
	position: fixed;
	bottom: 6rem;
	right: 1rem;
	width: 0rem;
	height: 2.6rem;
	border-radius: 24px;
	background: #fff;
	border: 1px solid #F5F5F5;
	color: #9C9C9C;
	padding-right: 26px;
	padding-bottom: 31px;
}

.db:hover {
	background: #fff;
	color: #9C9C9C;
	border: 1px solid #F5F5F5;
}